.user-page {
  padding: 0 0 60px;
  .user-details {
    padding: 20px 0;
    h2 {
      margin: 0;
    }
    .user-details-cols {
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-gap: 20px;
      .avatar-wrap {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
          0 6px 6px rgba(0, 0, 0, 0.23);
        background-color: #fff;
        img {
          display: block;
          width: 100%;
          max-width: 100%;
        }
      }
      .name-wrap {
        padding: 30px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
          0 6px 6px rgba(0, 0, 0, 0.23);
        background-color: #fff;
      }
    }
  }
}
