.loader {
  position: relative;
  width: 100%;
  height: 80vh;
  img {
    display: block;
    position: absolute;
    height: 38px;
    width: 38px;
    top: calc(50% - 19px);
    left: calc(50% - 19px);
  }
}
