@import '../../styles/vars';

.favorite-button-wrap {
  cursor: pointer;
  position: relative;
  width: 50px;
  height: 50px;
  margin: 20px 0;
  background-color: $light-bg-color;
  border-radius: 50%;
  box-shadow: $small-shadow;
  > i {
    line-height: 1;
    position: absolute;
    left: calc(50% - 12px);
    top: calc(50% - 12px);
  }
}
