@import "../../styles/vars";

.single-tv-show-details {
  position: relative;
  background-color: $primary-light-color;
  overflow: hidden;
  .cols-wrap {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr 50px;
    grid-gap: $grid-gap;
    padding: 60px 0;
    z-index: 2;
  }
  .backdrop-bg {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    filter: blur(5px);
    transform: scale(1.05);
    transition: transform 1s;
    z-index: 0;
  }
  .poster {
    max-width: 100%;
    box-shadow: $small-shadow;
  }
  .tagline {
    font-style: italic;
  }
  .desc-wrap {
    background-color: $light-bg-color;
    box-shadow: $small-shadow;
    padding: 20px;
    h2 {
      margin: 0 0 10px;
    }
    p {
      margin: 0;
    }
  }
  .short-info {
    margin: 20px 0;
    li {
      display: inline-block;
      &:not(:last-child) {
        margin-right: 20px;
      }
      span {
        display: inline-block;
        line-height: 24px;
      }
      i {
        vertical-align: top;
      }
    }
  }
  &:hover {
    .backdrop-bg {
      transform: scale(1.1);
    }
  }
}

@media screen and (max-width: $bp-sm) {
  .single-tv-show-details {
    .cols-wrap {
      display: block;
      padding: 30px 0 0;
    }
    .poster-col {
      padding: 0 10px 20px;
    }
    .short-info {
      margin: 10px 0;
      li {
        margin-bottom: 10px;
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
    .desc-wrap {
      padding: 60px 20px 25px;
      margin: -60px -10px 0;
    }
    .rating-col {
      display: none;
    }
  }
}
