@import "../../styles/vars";

.single-episode {
  padding: 80px 0 40px;
}
.single-episode-description {
  .cols-wrap {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-gap: 20px;
    z-index: 2;
  }
  .poster {
    width: 100%;
    max-width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  .title-wrap {
    color: #777777;
    padding: 10px 0;
  }
  .desc-wrap {
    position: relative;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 30px;
    h3 {
      margin: 0 0 10px;
    }
    p {
      margin: 0;
    }
    .close-link {
      position: absolute;
      display: block;
      right: 15px;
      top: 10px;
      color: #000;
      font-size: 28px;
      line-height: 1;
    }
  }
  .short-info {
    margin: 20px 0;
    li {
      display: inline-block;
      &:not(:last-child) {
        margin-right: 20px;
      }
      span {
        display: inline-block;
        line-height: 24px;
      }
      i {
        vertical-align: top;
      }
    }
  }
}
.single-season-episodes {
  padding: 20px 0;
}

@media screen and (max-width: $bp-sm) {
  .single-episode {
    margin: 30px 0 0;
    padding: 30px 0 20px;
  }
  .single-episode-description {
    .cols-wrap {
      display: block;
    }
  }
}
