.fade-grid-enter {
  opacity: 0.01;
  transform: scale(0.98);
}
.fade-grid-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 450ms ease-in-out;
}
.fade-grid-exit {
  opacity: 1;
  transform: scale(1);
}
.fade-grid-exit-active {
  opacity: 0.01;
  transform: scale(0.98);
  transition: all 450ms ease-in-out;
}
