// Colors
$default-text-color: #222222;
$light-text-color: #ffffff;

$body-bg-color: #f2f2f2;
$light-bg-color: #ffffff;

$primary-color: #232323;
$primary-dark-color: #000a12;
$primary-light-color: #616161;

// shadows

$big-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$small-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

// grid
$grid-gap: 20px;

//media breakpoints

$bp-xs: 320px;
$bp-sm: 560px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1600px;
