@import 'vars';
@import 'animations';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $body-bg-color;
  color: $default-text-color;
}
a {
  text-decoration: none;
}
button,
a {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 100%;
  width: 1000px;
  margin: 0 auto;
}

.section-title {
  color: #777777;
  position: relative;
  display: inline-block;
  font-size: 24px;
  padding: 20px 0;
  margin: 20px 0;
  padding-left: 30px;
  &:before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 50%;
    height: 3px;
    width: 20px;
    background-color: #777777;
  }
}

@media screen and (max-width: $bp-lg) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}

@media screen and (max-width: $bp-sm) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .section-title {
    margin: 10px 0;
    padding: 10px 0;
    padding-left: 30px;
  }
}

@media screen and (min-width: $bp-xl) {
  .container {
    width: 1140px;
  }
}

@media screen and (min-width: $bp-xxl) {
  .container {
    width: 1400px;
  }
}
