@import '../../styles/vars';

.grid-pagination {
  padding: $grid-gap 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  .pag-button {
    display: inline-block;
    background-color: $primary-dark-color;
    color: #ffffff;
    padding: 10px 20px;
    border: 1px solid $primary-dark-color;
    transition: all 0.3s;
    &:hover {
      background-color: #ffffff;
      color: $default-text-color;
    }
    &.first,
    &.prev {
      justify-self: start;
      margin-right: $grid-gap;
    }
    &.next,
    &.last {
      justify-self: end;
      margin-left: $grid-gap;
    }
    &:disabled {
      opacity: 0.7;
      cursor: not-allowed;
    }
  }
  .pag-info {
    display: inline-block;
    text-align: center;
    flex: 1;
  }
}

@media screen and (max-width: $bp-sm) {
  .grid-pagination {
    padding: $grid-gap/2 0;
    .pag-button {
      padding: 5px 10px;
      font-size: 14px;
      &.first,
      &.prev {
        margin-right: $grid-gap/2;
      }
      &.next,
      &.last {
        margin-left: $grid-gap/2;
      }
    }
    .pag-info {
      font-size: 14px;
    }
  }
}
