@import '../../styles/vars';

.user-rate-badge-wrap {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: $light-bg-color;
  background-color: #fff;
  text-align: center;
  padding-top: 5px;
  > i {
    display: block;
  }
  > span {
    font-weight: bold;
  }
}
