@import '../../styles/vars';

.media-item {
  position: relative;
  display: inline-block;
  box-shadow: 0;
  overflow: hidden;
  backface-visibility: hidden;
  transition: all 0.15s ease-in-out;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  a {
    color: $default-text-color;
  }
  .desc-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 10px 20px;
    background-color: $light-bg-color;
    backface-visibility: hidden;
    opacity: 0;
    transform: translateY(101%);
    transition: all 0.3s 0.1s ease-in-out;
    z-index: 2;
  }
  .title {
    color: $default-text-color;
    font-size: 18px;
    line-height: 1.2;
    margin: 0;
  }
  .item__rating__wrap {
    position: absolute;
    top: 20px;
    right: 20px;
    transform: translateY(-20px);
    opacity: 0;
    transition: all 0.3s 0.1s ease-in-out;
  }
  .user-rate-badge-wrap {
    position: absolute;
    top: 80px;
    right: 20px;
    transform: translateY(20px);
    opacity: 0;
    transition: all 0.3s 0.1s ease-in-out;
  }
  &:hover {
    transform: scale(1.025);
    box-shadow: $big-shadow;
    .item__rating__wrap {
      transform: translateY(0%);
      opacity: 1;
    }
    .user-rate-badge-wrap {
      transform: translateY(0%);
      opacity: 1;
    }
    .desc-wrap {
      transform: translateY(0%);
      opacity: 1;
    }
  }
}

.cols-6 {
  .media-item {
    .desc-wrap {
      padding: 5px 10px;
    }
    .title {
      font-size: 15px;
    }
    .item__rating__wrap {
      top: 10px;
      right: 10px;
    }
    .user-rate-badge-wrap {
      top: 80px;
      right: 10px;
    }
  }
}
