@import '../../styles/vars';

.item__rating__wrap {
  position: relative;
  height: 50px;
  width: 50px;
  background-color: rgba($light-bg-color, 0.3);
  border-radius: 50%;
  box-shadow: $small-shadow;
  backface-visibility: hidden;
  overflow: hidden;
  .bg-outer {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #ff0000;
    height: 100%;
    width: 100%;
    z-index: 2;
  }
  .inner {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    text-align: center;
    line-height: 1;
    background-color: $light-bg-color;
    z-index: 3;
    .rating {
      position: absolute;
      font-weight: bold;
      top: 7px;
      left: 0;
      width: 100%;
    }
    .voute-count {
      position: absolute;
      color: grey;
      font-size: 12px;
      bottom: 8px;
      left: 0;
      width: 100%;
    }
  }
}
