@import "../../styles/vars";

.episode-item {
  position: relative;
  display: inline-block;
  box-shadow: 0;
  overflow: hidden;
  height: auto;
  backface-visibility: hidden;
  transition: all 0.15s ease-in-out;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 50px;
  }
  a {
    color: $default-text-color;
  }
  .description-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 10px 20px;
    background-color: $light-bg-color;
    box-shadow: none;
    p {
      margin: 0;
    }
  }
  &:hover {
    transform: scale(1.025);
    box-shadow: $big-shadow;
  }
}
