@import '../../styles/vars';

.season-item {
  position: relative;
  display: inline-block;
  box-shadow: 0;
  overflow: hidden;
  backface-visibility: hidden;
  transition: all 0.15s ease-in-out;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  a {
    color: $default-text-color;
  }

  &:hover {
    transform: scale(1.025);
    box-shadow: $big-shadow;
  }
}
