@import '../../styles/vars';

.rate-button-wrap {
  position: relative;
  margin: 10px 0;
  .rate-button {
    height: 50px;
    width: 50px;
    border: 0;
    outline: 0;
    background-color: $light-bg-color;
    border-radius: 50%;
    i {
      display: block;
    }
    span {
      font-weight: bold;
    }
  }
  .rate-stars-wrap {
    position: absolute;
    right: 0;
    bottom: calc(-100% - 9px);
    padding: 0;
    width: 180px;
    height: 45px;
    padding: 10px;
    background-color: $light-bg-color;
    box-shadow: $big-shadow;
    visibility: hidden;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.4s;
    z-index: 2;
    &:before {
      content: ' ';
      position: absolute;
      top: -10px;
      right: 15px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid $light-bg-color;
    }
    &.opened {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
    .rate-star {
      cursor: pointer;
      display: inline-block;
      padding: 10px 0;
      &:not(:last-child) {
        margin-right: 10px;
      }
      &:first-child {
        margin-left: 10px;
      }
    }
    .bg-stars {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    .hovered-stars {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      white-space: nowrap;
      overflow: hidden;
      z-index: 2;
    }
  }
}
