@import "../../styles/vars";

.app-header {
  background-color: $primary-color;
  color: $light-text-color;
  padding: 0;
}

.header-inner {
  display: grid;
  grid-template-columns: 4fr 6fr;
  grid-auto-flow: dense;
}

.logo-wrap {
  .brand {
    text-align: left;
    margin: 0;
    padding: 15px 0;
  }
  a {
    color: $light-text-color;
  }
}

.app-header-menu {
  text-align: right;
  ul {
    li {
      display: inline-block;
      a {
        display: block;
        color: $light-text-color;
        padding: 25px 20px;
        font-size: 20px;
        line-height: 1;
        background-color: transparent;
        transition: all 0.3s;
        &:hover,
        &.active {
          background-color: rgba($light-text-color, 0.2);
        }
      }
    }
  }
}

@media screen and (max-width: $bp-lg) {
  .header-inner {
    display: block;
  }
  .logo-wrap {
    .brand {
      text-align: center;
    }
  }
  .app-header-menu {
    text-align: center;
    ul {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      li {
        a {
          padding: 10px;
          &:hover,
          &.active {
            background-color: transparent;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $bp-sm) {
  .logo-wrap {
    .brand {
      font-size: 24px;
    }
  }
  .app-header-menu {
    text-align: center;
    ul {
      overflow-x: auto;
      li {
        a {
          padding: 10px;
          font-size: 18px;
          font-weight: bold;
        }
      }
    }
  }
}
