@import '../../styles/vars';

.content-grid {
  display: grid;
  grid-gap: $grid-gap;
  width: 100%;
  backface-visibility: hidden;
  &.cols-auto {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  &.cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  &.cols-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  &.cols-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  &.cols-6 {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (max-width: $bp-lg) {
  .content-grid {
    &.cols-auto,
    &.cols-5,
    &.cols-3,
    &.cols-4,
    &.cols-5,
    &.cols-6 {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (max-width: $bp-sm) {
  .content-grid {
    grid-gap: $grid-gap/2;
    &.cols-auto,
    &.cols-5,
    &.cols-3,
    &.cols-4,
    &.cols-5,
    &.cols-6 {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
