@import '../../styles/vars';

.images-gallery-wrap {
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  background-color: $light-bg-color;
  box-shadow: $big-shadow;
  .images-gallery-grid {
    display: grid;
    grid-gap: $grid-gap;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .gallery-title {
    margin: 0 0 20px;
  }
  .gallery-item {
    img {
      width: 100%;
      max-width: 100%;
    }
  }
}
